* {
  box-sizing: border-box;
}

span.c {
  display: block;
  position: relative;
  bottom: -130px;
  background-color: #4aaaa5;
  padding: 1em;
  text-align: center;
}




#header_wrapper {
  position: relative;
  top: 0%;
  left: 0%;
  background: white;
  /* border: 1px solid red; */
  border-bottom: 2px solid #eee;
}
#header_content {
  overflow: auto;
  color: #fff;
  max-width: 960px;
  background: white;
  /* border: 1px solid red; */
  margin: auto;
}

#name {
  float: left;
  position: relative;
  bottom: -1em;
  padding: 1em;
  text-decoration-color: white;
  color: #ffffff;
  /* border: 1px solid red; */
  text-align: center;
  background-color: #4aaaa5;
}

#navigation {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  float: right;
  position: relative;
  bottom: -40px;
  padding: 1em;
  /* border: 1px solid red; */
  background: white;
}

#content {
    position: relative;
    bottom: -3em;
    border: 1px solid #dddddd;
    /* border: color #dddddd; */
    background-color: #ffffff;
    
    max-width: 960px;
    height: 45em;
    margin: auto;
    overflow: auto;
    /* padding-top: 5em;  */
  }

#email_form {
    margin: 2em;
}

#submit_btn {
    text-align: center;
    background-color: #4aaaa5;
}

body {
  /* border: 1px solid red; */
  background-image: url("../images/topography.png");
}

footer {
  /* position: absolute;
    bottom: 0em; */
  display: table-cell;
  position: fixed;
  left: 0px;
  width: 100%;
  bottom: 0px;
  padding-top: 2em;
  /* margin: 0px; */
  background: #666666;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  color: #ffffff;
  vertical-align: bottom;
  margin-top: 1em;
  /* margin-top: 8em; */
}

figure {
  float: left;
}
h1 {
  color: #4aaaa5;
  margin: 12px;
  font-family: "Georgia", Times, Times New Roman, serif;
}

hr {
    margin: 1em;
    color: #777777;
}

a {
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

a:hover {
  background-color: #4aaaa5;
  color:  #ffffff;
}

input {
    width: 100%;
    height: 25px;
    margin: 0px, 5px, 5px, 5px;
}

input[type=submit] {
    width: 10em;  height: 3em;
    text-align: center;
    background-color: #4aaaa5;
    color:  #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    /* padding:  1em; */
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 2em;
}

/* textarea {
    cols: 100%;
} */
/* p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
} */


